body {
  font-family: sans-serif;
  padding-top: 30px;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
}

h2 {
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: normal;
}

button {
  align-self: center;
  background-color: dodgerblue;
  color: white;
  outline: none;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  padding: 15px 30px;
  width: fit-content;

  &:hover {
    background-color: darken(dodgerblue, 10%);
    cursor: pointer;
  }

  &:active {
    background-color: darken(dodgerblue, 20%);
  }

  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
}

input {
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 15px;

  &:focus {
    outline: none;
  }
}

.checkbox-label {
  display: flex;
  padding: 5px 0;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 40vw;
  width: 40vw;
  min-height: 475px;
  min-width: 475px;
  border: 1px solid black;
  align-self: center;
  margin-bottom: 30px;

  .board-square {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &.small {
    height: 20vw;
    width: 20vw;
    min-height: 300px;
    min-width: 300px;

    .board-square {
      font-size: 10px;
    }
  }
}

.all-boards {
  margin: 0 10vw;

  .create-new {
    text-align: right;
  }

  .title {
    border-bottom: 2px solid black;
  }

  .board-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;

    .board-with-name {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        margin: 0;
      }
    }
  }
}

.create-board-form {
  display: flex;

  .character-selection {
    display: flex;
    flex: 1;
    justify-content: space-around;

    button {
      margin-top: 30px;
    }
  }

  .board-generation {
    display: flex;
    flex: 1;
    flex-direction: column;

    .close-icon {
      align-self: flex-end;
      font-size: 40px;
      margin: 0 60px 20px 0;
      cursor: pointer;
    }

    .save-board {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
